@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a.active {
  border-radius: 0;
  background: #4a00ff !important;
}

.slick-slide > div {
  margin: 0px 10px;
}
